chainlit ~= 2.5.5
langchain-openai ~= 0.3.1
langchain ~= 0.3.1
langchain-community ~= 0.3.1
python-dotenv ~= 1.0.1
azure-search-documents ~= 11.5.1
azure-identity ~= 1.18.0
langgraph ~= 0.2.32
pymssql~=2.3.2
azure-storage-blob
azure-ai-documentintelligence ~= 1.0.0b2
pymupdf ~= 1.25.2
unstructured
unstructured[pdf]
pillow
SQLAlchemy 
azure-storage-file-datalake
aioodbc
aiohttp
psycopg2-binary
asyncpg